html, body {
    
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    position: relative;
    font-family: "CoreCircus", sans-serif;
    font-size: 9vw;
    text-align: center;
    line-height: 1.2;
    margin: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #484848;
    text-shadow: rgb(255, 255, 255);
    letter-spacing: -0.3rem;
}
h1:before {
    content: attr(data-heading);
    position: absolute;
    overflow: hidden;
    color: rgb(255, 255, 255);
    width: 100%;
    z-index: 5;
    text-shadow: rgb(255, 255, 255);
    left: 0;
    text-align: center;
    animation: flicker 5s linear infinite;
}
@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 0.8;
        text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ffffff, 0 0 15px rgb(255, 255, 255), 0 0 2px #ffffff, 0 2px 3px #000;
   }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
        text-shadow: none;
   }
}
/* * Webfont: CoreCircus by S-Core * URL: http://www.myfonts.com/fonts/s-core/core-circus/regular/ * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved. * Licensed pageviews: 10,000 * * Webfont: CoreCircus2DDot1 by S-Core * URL: http://www.myfonts.com/fonts/s-core/core-circus/dot1/ * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved. * Licensed pageviews: 10,000 */
@font-face {
    font-family: "CoreCircus2DDot1";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}
@font-face {
    font-family: "CoreCircus";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}
.element{
    margin: 8px;
    color: antiquewhite;


}
nav{
    display: flex;
    align-items: center;
    padding: 16px;
}
.menu{
    display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin: auto;
  align-self: center;
}
.divmenu{
    font-family: "CoreCircus", sans-serif;
    color: antiquewhites;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
    
}

.divmenu a{
    text-decoration: none;
    color: #ffffff;

}
.waviy {
    position: relative;
    top: 75% ;
    align-items: center;
    text-align: center;
    
    
    
    font-family: "CoreCircus", sans-serif;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 2vw;
    color: #fff;
    text-transform: uppercase;
    animation: flip 1s infinite;
    animation-delay: calc(.2s * var(--i))
    
  }
  @keyframes flip {
    0%,80% {
      transform: rotateX(360deg) 
    }
    
  }
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

h2{
    top: 63%;
    position: relative;
    text-align: center;
    color: #484848;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
    letter-spacing: 7px;
    cursor: pointer
  }
  h2 span{
    transition: .5s linear
  }
  h2:hover span:nth-child(1){
    margin-right: 5px
  }
  h2:hover span:nth-child(1):after{
    content: "";
  }
  h2:hover span:nth-child(2){
    margin-left: 30px
  }
  h2:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
